body{
	background-color:#90C7E3;
	/*background: url("bg1.jpg");
	/*background-repeat:no-repeat;*/
}

.body{
	margin: 0 auto;
	width:70%
}


header{
		background-color: ;
		text-align : center;
}

nav{
		text-align : center;
}

footer{
	text-align : center;
}

a{
	text-decoration:none;
}


a:link, a:visited{
	
	
}


a:hover { 
    background-color: black;
}

.mainHeader nav{
	background-color:#666;
	height:40px;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
}

.mainHeader nav ul{
	list-style:none;
	margin:0 auto;
}

.mainHeader nav ul li{
	float : left;
	display:inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited{
	
	color : #FFF;
	display: inline-block;
	padding: 10px 25px;
	text-shadow:none;
	font-weight: bold;
	height : 20px
}

.mainFooter{
	background-color:#666;
	height:40px;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	padding:5px 20px
	
	
}
.mainFooter i{
	float: left;
	font-size:20px
}
.mainFooter small{
	float: center;
	font-color:black;
	font-size:20px
	
}
.mainFooter em{
	float: right;
	font-size:20px
}

ol,ul{
	font-weight:bold;
}
ul{
	list-style-type: square;
}