<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head><link href="resources/css/bootstrap-3.3.2-dist/bootstrap.min.css" rel="stylesheet" /></head>
<body>
<div class="container">
    <p>
        Welcome to CSYE 6225 Spring 2018 Semester! Reset Password
    </p>
    <form action="/sendResetEmail" method="post">
        EmailID: <input type="email" name="resetEmail" required="required"/>

        <input type="submit" value="Receive Temporary Password"/><br/>

    </form>

</div>
</body>
</html>